:root {
  --primary-color: #cf4d9c;
  --hover-primary-color: #922065;
  --background-color: #ffffff;
  --element-color: #3a3e62;
  --accent-color: #959bcd;

  --error-color: #ff7c7c;
  --success-color: #c0ff8f;
  --warning-color: #fde17d;
}
